<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gsthub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProfileStudent"></activity>
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".Contact"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".HomePage" />
        <activity android:name=".Forum2" />
        <activity android:name=".HomePage2" />
        <activity android:name=".Classroom" />
        <activity android:name=".Dashboard" />
        <activity android:name=".HomePage" />
        <activity android:name=".profile.ProfileTeacher" />
        <activity
            android:name=".profile.ProfileStudent"
            android:parentActivityName=".HomePage" />
        <activity android:name=".profile.ProfileGuest" />
        <activity android:name=".profile.ProfileAlumni" />
        <activity android:name=".RegisterTeacher" />
        <activity android:name=".RegisterStudent" />
        <activity android:name=".RegisterAlumni" />
        <activity android:name=".RegisterGuest" />
        <activity android:name=".SignIn" />
        <activity android:name=".SignInAs" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>